@layer utilities {
    @media (max-width: 767px) {
      .step-container {
        &:nth-child(odd) > div > div:nth-child(2) {
          top: 40px;
        }
  
        &:last-child {
          > div > div {
            left: -42px;
          }
  
          > div > div:nth-child(2) > div:first-child {
            left: 73%;
          }
        }
      }
    }
  }
  